.DS_Store
/.build
/*.xcodeproj
xcuserdata/
xcshareddata/
DerivedData/
.swiftpm/xcode/
/Package.resolved
Dopamine/Dopamine/bootstrap/tmp/
Application/Payload
.idea
Tools/fastPathSign/.build_*
Exploits/kfd/kfd.framework/kfd
.sign
# Flutter / CocoaPods
.ios/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
Application/Pods/
Application/*.xcworkspace/xcuserdata/
Application/Podfile.lock
